
# Byte-compiled / cached / compiled files
*.class
*.clj-kondo/.cache/

# ClojureScript output directory
target/
out/

# Boot build files and directories
.boot/
.booproj/
.boot/cache/
.boot/tmp/
*~ # Temporary files

# OS-specific files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
*.swp
*~
.project
.classpath
.settings/
*.iml
*.ipr
*.iws
.vscode/

# Logs
logs/
*.log

# Leiningen files
.lein-repl-history
.lein-failures

# npm modules and other node-related files
node_modules/
package-lock.json
npm-debug.log
yarn-error.log

# Repl history
.repl-history

# Compiled JavaScript files
resources/public/js/main.js
resources/public/js/main.js.map

# Environment variables file
.env

# cp cache
.cpcache/

# Frontend build artifacts
dist/
build/
.tmp/
.cache/
.parcel-cache/
webpack-stats.json

# Ignore .clj-kondo
.clj-kondo