body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, orange, purple);
  font-family: Arial, sans-serif;
}

.centered-box {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align:left;
  font-size: 1rem;
  color: black;
  display: flex;
  width: 80%; 
  height: auto;
  flex-direction: column; /
}


#content {
  padding: 20px;
}


#blog-links {
  margin-top: 20px; 
  padding-top: 10px;
  border-top: 1px solid #ccc; 
}
